<div class="link-card">
  <div class="d-flex align-items-center">
    <div class="votes text-center px-3">
      <%= link_to link_votes_path(link, value: 1), method: :post do %>
        <i class="fas fa-caret-up <%= current_user.upvoted?(link) ? 'voted' : '' %>"></i>
      <% end %>
      <p><%= link.points %></p>
      <%= link_to link_votes_path(link, value: -1), method: :post do %>
        <i class="fas fa-caret-down <%= current_user.downvoted?(link) ? 'voted' : '' %>"></i>
      <% end %>
    </div>
    <div class="link-main">
      <div>
        <%= link_to link.title, link.url, target: "_blank", class: "link-title" %>
        <span class="link-url ml-1">(<%= link.url %>)</span>
      </div>

      <div class="link-data">
        <span>by <%= link.user.username %> | </span>
        <span><%= time_ago_in_words(link.created_at) %> ago | </span>
        <span class="link-comments">
          <%= link_to link_path(link) do %>
            <%= link.comments.size %> comments
          <% end %>
        </span>
        <% if params[:controller] == "links" && params[:action] == "show" %>
          <% if user_signed_in? && policy(@link).edit? %>
            <span class="link-action">
               | <%= link_to 'edit', edit_link_path(@link) %> |
            </span>
            <span class="link-action">
              <%= link_to 'delete', link_path(@link), method: :delete, data: { confirm: "Are you sure you want to delete this link?"} %>
            </span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
