<div class="navbar navbar-expand-md navbar-light navbar-lewagon py-0">
  <%= link_to "NewsLink", root_path, class: "navbar-brand" %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= "active" if current_page?(newest_links_path) %>">
        <%= link_to "newest", newest_links_path, class: "nav-link" %>
      </li>
      <li class="nav-item <%= "active" if current_page?(comments_path) %>">
        <%= link_to "comments", comments_path, class: "nav-link" %>
      </li>
      <% if user_signed_in? %>
        <% if policy(Link).create? %>
          <li class="nav-item <%= "active" if current_page?(new_link_path) %>">
            <%= link_to "submit a link", new_link_path, class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item">
          <%= link_to "logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item <%= "active" if current_page?(new_user_registration_path) %>">
          <%= link_to "signup", new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= "active" if current_page?(new_user_session_path) %>">
          <%= link_to "login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
