<div class="link-card" id="link-<%= link.id %>">
  <div class="votes px-3">
    <%= link_to upvote_link_path(link), method: :post, remote: true do %>
      <i class="fas fa-caret-up fa-lg upvote <%= user_signed_in? && current_user.upvoted?(link) ? 'active' : '' %>"></i>
    <% end %>
    <p class="link-points"><%= link.points %></p>
    <%= link_to downvote_link_path(link), method: :post, remote: true do %>
      <i class="fas fa-caret-down fa-lg downvote <%= user_signed_in? && current_user.downvoted?(link) ? 'active' : '' %>"></i>
    <% end %>
  </div>
  <div class="link-main">
    <div>
      <%= link_to link.title, link.url, target: "_blank", class: "link-title" %>
      <span class="link-url d-none d-md-inline">(<%= link.url %>)</span>
    </div>

    <div class="item-data">
      <span>by <%= link.user.username %> | </span>
      <span><%= time_ago_in_words(link.created_at) %> ago | </span>
      <span class="link-comments">
        <%= link_to link_path(link), id: "link-#{link.id}-comments" do %>
          <%= pluralize(link.comments.size, 'comment') %>
        <% end %>
      </span>
      <% if user_signed_in? && policy(link).edit? %>
        <span class="user-action">
           | <%= link_to 'edit', edit_link_path(link) %> |
        </span>
        <span class="user-action">
          <%= link_to 'delete', link_path(link), method: :delete, data: { confirm: "Are you sure you want to delete this link?"} %>
        </span>
      <% end %>
    </div>
  </div>
</div>
