<%= render "shared/link_card", link: @link %>

<p class="pl-3 mb-3 link-description"><%= @link.description %></p>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <%= render "comments/form" %>
    </div>
  </div>
</div>

<% if @comments %>
  <div class="container comments">
    <% @comments.each do |comment| %>
      <div id="comment-<%= comment.id %>">
        <p>
          <strong><%= comment.user.username %></strong>
          <span><%= time_ago_in_words(comment.created_at) %> ago</span>
        </p>
        <p><%= comment.body %></p>
        <% if user_signed_in? && policy(comment).edit? %>
          <%= link_to 'Edit', edit_comment_path(comment) %>
        <% end %>
        <% if user_signed_in? && policy(comment).destroy? %>
          <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: "Are you sure you want to delete this comment?"} %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>


